<div id="login-bar">
  <li class="right-align">
    <%= form_for(:session, url: {controller: 'sessions', action: 'create'}) do |f| %>
    Nick: <%= text_field_tag :nick, nil, required: true, autocomplete: "off", class: "nav-textfield"%>
    Password: <%= password_field_tag :password, nil, required: true, class: "nav-textfield"%>
    <%= submit_tag "Log in", class: "nav-button"%>
    <% end %>
  </li>
</div>