<p id="notice"><%= notice %></p>
<% @categories.each do |category| %>
<ul>
<li>
	<%= link_to category.subject, category_path(category) %>
	<% if not @allSubCategories[category.id].nil? %>
		<ul>
		<% @allSubCategories[category.id].each do |subCategory| %>
		  <li><%= link_to subCategory.subject, category_path(subCategory) %></li>
		<% end %>
		</ul>
	<% end %>
</li>
</ul>
<% end %>
