<h1><%= @category.subject %></h1>
<%=link_to "Create discussion", controller: "discussions", action: "new", category_id: @category.id %>
<ul>
<% @discussions.each do |discussion| %>
	<li>
		<%= link_to discussion.title, discussion_path(discussion.id) %>
	</li>
<% end %>
</ul>
